//Colors
$main-color: #130a07;
$secondary-color: #b45e41;
$tertiary-color: #103932;
$white-color: #f8ede4;

//Typo
$main-font: 'minerva-modern', sans-serif;
$secondary-font: 'Inter', sans-serif;

//Fonts
$font--h1: $main-font;
$font--h2: $main-font;
$font--h3: $secondary-font;
$font--h4: $main-font;
$font--body: $secondary-font;

$font--size-h1: 100px;
$font--size-h2: 64px;
$font--size-h3: 16px;
$font--size-h4: 14px;
$font--size-body: 16px;
$font--size-footer: 14px;

$font--lineHeight-h1: 60px;
$font--lineHeight-h2: 96px;
$font--lineHeight-body: 24px;

$font--weight-h1: 400;
$font--weight-h2: 400;
$font--weight-h3: 300;
$font--weight-h4: 400;
$font--weight-light-body: 300;
$font--weight-bold-body: 700;

//Mobile fonts
$font--size-h1-mobile: 50px;
$font--size-h2-mobile: 40px;

$font--lineHeight-h2-mobile: 70px;

//Tablet fonts
$font--lineHeight-h1-tablet: 110px;

//Responsives breakpoints
$responsive--mobile-min: 320px;
$responsive--mobile-max: 480px;

$responsive--tablet-min: 481px;
$responsive--tablet-max: 768px;

$responsive--laptop-min: 769px;
$responsive--laptop-max: 1024px;

$responsive--desktop-min: 1025px;
$responsive--desktop-max: 1200px;

$responsive--desktop-large-min: 1201px;
