h1 {
  font-family: $font--h1;
  font-size: $font--size-h1;
  font-weight: $font--weight-h1;
  color: $white-color;
  text-transform: uppercase;
  text-align: left;
  line-height: $font--lineHeight-h1;
}

h2 {
  font-family: $font--h2;
  font-size: $font--size-h2;
  font-weight: $font--weight-h2;
  text-transform: uppercase;
  text-align: left;
  line-height: $font--lineHeight-h2;
}

h3 {
  font-family: $font--h3;
  font-size: $font--size-h3;
  font-weight: $font--weight-h3;
  width: fit-content;
  text-transform: uppercase;
}

h4 {
  font-family: $font--h4;
  font-size: $font--size-h4;
  font-weight: $font--weight-h4;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: fit-content;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 15px;
    margin: 16px 0;
  }
}

p {
  font-family: $font--body;
  font-size: $font--size-body;
  text-align: left;
  line-height: $font--lineHeight-body;
}

.cursor {
  font-family: $font--h1;
  color: $white-color;
  font-size: $main-font;
}

.loader-content {
  font-family: $font--loader;
  color: $white-color;
  font-size: $font--size-loader;
  text-transform: uppercase;
}

.section--home-hero-baseline {
  p {
    color: $white-color !important;
  }
}

@media screen and (min-width: $responsive--mobile-min) and (max-width: $responsive--mobile-max) {
  h1 {
    font-size: $font--size-h1-mobile;
  }

  h2 {
    font-size: $font--size-h2-mobile;
    line-height: $font--lineHeight-h2-mobile;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $responsive--tablet-min) and (max-width: $responsive--tablet-max) {
  h1 {
    line-height: $font--lineHeight-h1-tablet;
  }
}

@media screen and (min-width: $responsive--laptop-min) and (max-width: $responsive--laptop-max) {
  h1 {
    line-height: $font--lineHeight-h1-tablet;
  }
}

@media screen and (min-width: $responsive--desktop-min) and (max-width: $responsive--desktop-max) {
}

@media screen and (min-width: $responsive--desktop-large-min) {
}
