html {
  box-sizing: border-box;
  overflow-x: hidden;

  body {
    background-color: $white-color;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    max-width: 1500px;
    margin: auto;

    .swiper-wrapper {
      display: flex !important;

      .swiper-slide {
        width: 100% !important;
      }
    }

    section {
      margin-bottom: 100px;
    }

    .icon {
      width: 21px;
      height: 21px;
    }

    img {
      object-fit: cover;
    }
  }
}
